*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: grid;
    width: 100%;
    max-width: 1920px;
    height: 210px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
#number{
    margin-top: 64px;
    margin-left: 250px
}
#number > span{
    font-size: 14pt;
}
#vedro{
    margin-top: 64px;
    margin-left: 338px
}
#vedro>span{
    font-size: 18pt;
}
#logo{
    width: 427px;
    height: 138px;
    align-self: center;
    justify-self: center;
}
#basket{
    width: 17px;
    height: 17px;
}
.nameHead{
    display: inline-block;
}
.nameHead:hover{
    color: gray;
}
#inputs{  
    border: none;
    border-bottom: 1px solid #000;
}
#box1{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 600px;
    background-color: #FFF;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
}
#box2{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 1284px;
    background-color: #fadae2;
}
#box3{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 1288px;
    background-color: #FFF;
}
#box4{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 970px;
    background-color: #f8b7c1;
}
#box5{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 1000px;
    background-color: #FFF;
}
#box6{
    display: grid;
    max-width:1920px;
    width: 100%;
    height: 961px;
    background-color: #ddb2b8;
}
#lupa{
    width: 23px;
    height: 23px;
}
.text_search{
    width: 288px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
}
.box-for-search{
    display: flex;
    width: 17px;
    height: 17px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
}
.inline-search{
   display: inline-flex;
   margin-left: 150px;
   grid-column: 1/4;
}
.redimg{
    justify-self: center;
    align-self: center;
}
.graybox{
    justify-self: center;
    align-self: center;
    width: 1140px;
    height: 1064px;
    background-color: gray;
}
#ringbox{
    display: grid;
    width: 1140px;
    height: 780px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
.ringform{
    display: grid;
    width: 263px;
    height: 360px;
}
.zakaz{
    width: 263px;
    background-color: #000;
    height: 50px;
    line-height:50px;
    color: #fff;
    text-align: center;      
}
.zakaz:hover{
    background-color: gray;
}
.ring{
    width: 263px;
}
.costp{
    width: 263px;
    height: 50px;
    line-height:50px;
    text-align: center;
    background-color: #fff;
}
#serbox{
    display: grid;
    width: 1140px;
    height: 780px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#podvesbox{
    display: grid;
    width: 1140px;
    height: 780px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#kulonbox{
    display: grid;
    width: 1140px;
    height: 780px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#bottombox{
    width: 100%;
    max-width: 1920px;
    height: 516px;
    background-color: #000;
}
#namering{
    margin-left: 80px;
}
#namering>p{
    margin-left: 30px;
}
#pagekulon{
    display:grid;
    width: 100%;
    max-width: 1920px;
    height: 1732px;
    background-color: #FFF;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
}
#kulonpagebox{
    display: grid;
    width: 1140px;
    height: 1561px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#pagepodveska{
    display:grid;
    width: 100%;
    max-width: 1920px;
    height: 1732px;
    background-color: #FFF;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
}
#podveskapagebox{
    display: grid;
    width: 1140px;
    height: 1561px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#pageserg{
    display:grid;
    width: 100%;
    max-width: 1920px;
    height: 1732px;
    background-color: #FFF;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
}
#sergpagebox{
    display: grid;
    width: 1140px;
    height: 1561px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#pagering{
    display:grid;
    width: 100%;
    max-width: 1920px;
    height: 1732px;
    background-color: #FFF;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
}
#ringpagebox{
    display: grid;
    width: 1140px;
    height: 1561px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
}
#pageTovar{
    display: grid;
    width: 100%;
    max-width: 1920px;
    height: 675px;
    background-color: #fff;
    box-shadow: inset 6px 18px 8px rgba(0, 0, 0, .2);
    grid-template-columns: 1fr 1fr;
}
.shopbox{
    display: grid;
    border: 1px solid #000;
}
.imgbox{
    border:2px solid #000;
    width: 554px;
    height: 554px;
    margin-left: 20%;
    align-self: center;
}
.more{
    width: 90px;
    height: 40px;
    background-color: #000;
    border:1px solid #000;
    color: #fff;
    font-size: 14pt;
}
.imgbox>img{
    width: 550px;
    height: 550px;
}

